<?xml version="1.0" encoding="UTF-8"?>

<!--
spring日志在官方文档的7.4，地址：https://docs.spring.io/spring-boot/docs/2.7.0/reference/htmlsingle/

When possible, we recommend that you use the -spring variants for your logging configuration (
for example, logback-spring.xml rather than logback.xml). If you use standard configuration locations,
Spring cannot completely control log initialization.
-->
<configuration>
    <!-- 导入默认配置，作为默认 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="APPLICATION_PACKAGE_NAME" value="com.example.oss"/>
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path" defaultValue="log"/>
    <springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name" defaultValue="example-oss-server"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <file>${LOG_PATH}/${APPLICATION_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APPLICATION_NAME}.%d{yyyy-MM-dd}.%i.log}</fileNamePattern>
            <!-- 项目重启时是否清理历史记录 -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <!-- 每个文件大小 -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 日志文件占用总空间 -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 历史文件保存天数 -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="dev">
        <logger name="${APPLICATION_PACKAGE_NAME}" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="${APPLICATION_PACKAGE_NAME}" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>
