.el-menu {
  border-right: none;
  background-color: var(--el-menu-bg-color);
  --el-menu-item-height: 37px !important;
}

.el-header {
  --el-header-height: 44px;
  border-block-end: 1px solid rgba(5, 5, 5, 0.06);
  background-color: rgba(255, 255, 255, 0.6);
}

.el-menu-item {
  height: 37px !important;
  margin-bottom: 3px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);

  /* 设置用户禁止选中 */
  user-select: none;
  border-radius: 6px;

  // 设置鼠标悬停时el-menu-item的样式
  &:hover {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
  }

  // 设置选中el-menu-item时的样式
  &.is-active {
    color: rgba(0, 0, 0, 0.95);
    background: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
  }
}

.el-sub-menu__title {
  padding-right: 0;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 6px;
  user-select: none;

  &:hover {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
  }
}

// 子节点
/*:deep(.el-sub-menu__title) {
  padding-right: 0; // 去除collapse缩小多余的边框
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 6px;
  user-select: none;

  &:hover {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
  }
}*/

/* 子级菜单字体高亮，父级菜单也高亮 */
.el-sub-menu.is-active > .el-sub-menu__title {
  color: rgba(0, 0, 0, 0.95) !important;
}

/* icon图标也跟着变 */
.el-sub-menu.is-active > .el-sub-menu__title i {
  color: rgba(0, 0, 0, 0.95) !important;
}